.header {
  padding: 12px 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  &__link {
    font-size: 21px;
  }

  &__logo {
    display: block;
  }

  &-img {
    width: 80px;
    object-fit: cover;
    border-radius: 100px;
  }

  &__container {
    @include df-flex;
    justify-content: space-between;
  }

  &-nav__list {
    @include df-flex;
  }

  &__item {

    color: #000;

    &:not(:last-child) {
      margin-right: var(--gap);
    }
  }
}