.hero {
  padding: 60px 0;
  border-bottom: 1px solid #ccc;

  &__container {
    display: flex;
  }

  &__text {
    width: 50%;
  }

  &__title {
    margin: 0;
    margin-bottom: var(--gap);
  }

  &__descr {
    margin: 0;
    width: 450px;
  }

  &__swiper {
    width: 40%;
  }
}

.swiper {
  overflow: hidden;
  width: 60%;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
}