.hero {
  padding: 60px 0;
  border-bottom: 1px solid #ccc;

  &__container {
    display: flex;
  }

  &__text {
    width: 50%;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }

  &__descr {
    margin: 0;
    width: 450px;
  }

  &__swiper {
    width: 40%;
  }
}

.hero__swiper {
  position: relative;
}

.swiper {
  overflow: hidden;
  width: 60%;
}

.swiper-button-next::after, 
.swiper-button-prev::after {
  // color: red;
  // font-size: 30px;
  // background-image: url(../img/cursor.png);
  // background-repeat: no-repeat;
  // background-size: contain;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #7a956b;
}

.swiper-pagination-progressbar {
  background-color: #fff;
}