.hero {
  padding: vw(60) 0;
  border-bottom: 1px solid #ccc;

  &__container {
    display: flex;
  }

  &__text {
    width: 50%;
  }

  &__title {
    margin: 0;
    margin-bottom: vw(20);
  }

  &__descr {
    margin: 0;
    width: vw(450);
  }

  &__swiper {
    width: 40%;
  }
}

.swiper {
  width: 60%;
  height: vw(300);
}
