html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --gap: 30px;
}

body {
  font-weight: 400;
  font-size: 16px;
  cursor: url("../img/cursor.png");
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.list_reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn_reset {
  padding: 0;
  background-color: none;
  border: none;
  margin: 0;
}

.title {
  margin: 0;
  font-size: 30px;
  text-align: center;
  margin-bottom: var(--gap);
}

a {
  color: inherit;
  text-decoration: none;
}

.header-burger {
  display: none;
}

.section-offset {
  padding: 40px 0;
}

.header {
  padding: 12px 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.header__link {
  font-size: 21px;
}

.header__logo {
  display: block;
}

.header-img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  color: #000;
}

.header__item:not(:last-child) {
  margin-right: var(--gap);
}

.hero {
  padding: 60px 0;
}

.hero__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.hero__tyre {
  width: 100px;
  left: 0;
  -webkit-animation-name: tyre;
          animation-name: tyre;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.hero__descr {
  margin: 0;
  line-height: 173%;
}

.hero__swiper {
  width: 40%;
}

.hero__swiper {
  position: relative;
}

.swiper {
  overflow: hidden;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #7a956b;
}

.swiper-pagination-progressbar {
  background-color: #fff;
}

@-webkit-keyframes tyre {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  20% {
    -webkit-transform: translateX(100px) rotate(72deg);
            transform: translateX(100px) rotate(72deg);
  }
  40% {
    -webkit-transform: translateX(300px) rotate(144deg) scale(1.1);
            transform: translateX(300px) rotate(144deg) scale(1.1);
  }
  60% {
    -webkit-transform: translateX(600px) rotate(216deg) scale(1.2);
            transform: translateX(600px) rotate(216deg) scale(1.2);
  }
  80% {
    -webkit-transform: translateX(800px) rotate(288deg) scale(1.3);
            transform: translateX(800px) rotate(288deg) scale(1.3);
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(360deg) scale(1.4);
            transform: translateX(1000px) rotate(360deg) scale(1.4);
  }
}

@keyframes tyre {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  20% {
    -webkit-transform: translateX(100px) rotate(72deg);
            transform: translateX(100px) rotate(72deg);
  }
  40% {
    -webkit-transform: translateX(300px) rotate(144deg) scale(1.1);
            transform: translateX(300px) rotate(144deg) scale(1.1);
  }
  60% {
    -webkit-transform: translateX(600px) rotate(216deg) scale(1.2);
            transform: translateX(600px) rotate(216deg) scale(1.2);
  }
  80% {
    -webkit-transform: translateX(800px) rotate(288deg) scale(1.3);
            transform: translateX(800px) rotate(288deg) scale(1.3);
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(360deg) scale(1.4);
            transform: translateX(1000px) rotate(360deg) scale(1.4);
  }
}

.hero__tyre:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.services {
  padding-top: var(--gap);
}

.services-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__active {
  color: red;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.services-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-tabs__caption {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 19px;
}

.services__tab {
  display: none;
}

.services__tab-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.baliMap {
  width: 400px;
  height: 300px;
}

.footer {
  background-color: #292c2f;
  padding: 15px 0;
  overflow: hidden;
}

.footer-list__item {
  color: white;
  font-size: 20px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: calc(var(--gap) / 2);
}

.footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: var(--gap);
}

.footer__logo {
  display: inline-block;
  margin-bottom: var(--gap);
}

.footer__title {
  color: #fff;
}

.footer__inp {
  padding: 12px 15px;
  font-size: 20px;
  width: 288px;
}

.footer__inp::-webkit-input-placeholder {
  color: #ccc;
  font-size: 17px;
}

.footer__inp:-ms-input-placeholder {
  color: #ccc;
  font-size: 17px;
}

.footer__inp::-ms-input-placeholder {
  color: #ccc;
  font-size: 17px;
}

.footer__inp::placeholder {
  color: #ccc;
  font-size: 17px;
}

.footer__inp:not(:last-child) {
  margin-bottom: calc(var(--gap) / 2);
}

.footer__btn {
  background-color: #fff;
  padding: 7px 11px;
  border-radius: 5px;
  margin-right: calc(var(--gap) / 2);
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer__checkbox {
  display: none;
}

.footer strong {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}

.footer__icon {
  display: block;
  position: relative;
  width: 11px;
  height: 11px;
  position: relative;
  background-color: #fff;
  margin-right: 10px;
}

.footer__icon::before {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 2px;
  width: 7px;
  height: 3px;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
}

.footer-form__testemonial {
  resize: none;
}

.footer-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__checkbox:checked ~ .footer__icon::before {
  display: block;
}

.footer__inp:focus {
  outline: 1px solid red;
}

.header-nav.active {
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 961px) {
  .hero__text {
    width: 100%;
    margin-bottom: 20px;
  }
  .hero__descr {
    width: 100%;
  }
  .swiper {
    width: 100%;
  }
  .footer-list__location {
    display: none;
  }
  .footer-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 759px) {
  body.lock {
    overflow: hidden;
  }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__form {
    display: none;
  }
  .header-nav {
    position: absolute;
    left: 0;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    border: 1px solid #ccc;
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding: 20px;
  }
  .header-nav__list li:not(:last-child) {
    margin-bottom: 52px;
  }
  .header__link {
    position: relative;
  }
  .header__link::after {
    content: '';
    border-bottom: 1px solid red;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .header__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .header__link:active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .header-burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 4;
    cursor: pointer;
  }
  .header-burger::before, .header-burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .header-burger::before::before, .header-burger::after::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 2px;
  }
  .header-burger span {
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    background-color: red;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.header-burger {
  position: fixed;
  right: 15px;
}

.header-burger.active::before {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-burger.active::after {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-burger.active span {
  display: none;
}

.header-nav.active {
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 25px 21px 18px -2px rgba(34, 60, 80, 0.42);
          box-shadow: 25px 21px 18px -2px rgba(34, 60, 80, 0.42);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 663px) {
  @-webkit-keyframes tyre {
    0% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes tyre {
    0% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .services {
    padding-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */